<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Вход в личнй кабинет</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="autorize.css">
    
  </head>
  <body>
    <div id='site' class="content">
      <div class="head">
      </div>
      <div class="form">
        <h3 class="item_form">Регистрация пользователя</h3>
        <form action="table.html" id="add-form" class="form-input">
          <div id="item" class="input-box">
            <input data-required="true" data-max-length="40" data-min-length="4" type="text" placeholder="Введите логин" name="email">
          </div>
          <div id="item" class="input-box">
            <input data-required="true" data-max-length="40" data-min-length="4" type="password" placeholder="Введите пароль" name="password">
          </div>
          <div id="item" class="input-box">
            <input data-required="true" data-max-length="40" data-min-length="4" type="password" placeholder="Повторите пароль" name="password">
          </div>
          <a>Есть аккаунт?</a>
          <button id="item" class="btn" type="submit">Регистрация</button>
        </form>
      </div>
    </div>
  </body>
</html>